
body{
  min-height: 100%;
  height: 100%;
  font-size: 14.3px;
  overflow-x: hidden;
  overflow-y: auto ! important;
  line-height: 1.43;
  margin: 0px;
  padding: 0px ! important;
  background-color: white;
}
a {
  color: white;
}
a:hover {
  text-decoration: none;
  color: white;
}

img {
  width: 100%;
}

.wrapper-class .navbar-brand > i{
  font-size: 20px;
  margin-right: 5px;
}

.wrapper-class .navbar-nav > li {
  position: relative;
}
.wrapper-class .form-inline {
  position: relative;
  width: 100%;
}
.wrapper-class .form-inline > input.search {
  border-radius: 25px;
  font-size: 13px;
  padding: 4px 12px;
  width: 100%;
}
.wrapper-class .form-inline > .suc-btn {
  position: absolute;
  right: 10px;
  border: navajowhite;
  background-color: transparent;
  color: silver;
  font-size: 13px;
}
.nav-span {
  display: inline-block;
  padding: 4px 6px;
  border-radius: 50%;
  border: 1px solid silver;
  font-size: 10px;
  margin: 0px 10px;
}
.nav-abs-span {
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  padding: 1px 6px 0px 6px;
  font-size: 12px;
  top: 0px;
  right: 2px;
  color: white;
}
.ul-nav  {
  flex-direction: row-reverse ! important;
  width: 100%;
}
.li-1::before {
  content: '';
  width: 1px;
  height: 50%;
  background-color: silver;
  left: 0;
  top: 10px;
  z-index: 19999;
  position: absolute;
}
.li-2::after {
  content: '';
  width: 1px;
  height: 50%;
  background-color: silver;
  right: 0;
  top: 10px;
  z-index: 19999;
  position: absolute;
}
.nav-user {
  width: 25px;
  display: inline-block;
}
.nav-user > img {
  border-radius: 50%;
}

.main-table-content {
  width: 100%;
  background-color: #eee!important;
  height: calc(100vh - 100px);
  padding: 5px 25px;
}
.main-table-content > nav > ol {
  background-color: transparent;
}
.main-table-content > nav > ol > li:nth-of-type(1) > a{
  font-size: 13px;
  color: dimgray ! important;
}
.main-table-content > nav > ol > li:nth-of-type(2){
  font-size: 13px;
  color: darkslategrey;
}
.table-sec {
  padding-bottom: 15px;
  box-shadow: 0px 1px 3px 0px grey;
  background-color: white;
  border-radius: 4px;
}
.head {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  align-items: center;
}
.head form input {
  width: auto ! important;
  font-size: 10px ! important;
  padding: 4px 12px ! important;
}
.right-icon-sec {
  display: flex;
}
.right-icon-sec > form > button {
  border-radius: 25px;
  font-size: 11px;
  padding: 3px 10px;
}
.right-icon {
  width: 75px;
  display: flex;
  align-items: center;
}
.right-icon > i{
  margin: 0px 5px;
  font-size: 11px;
  cursor: pointer;
}

.stu-table {
  overflow: auto;
  height: calc(100vh - 240px);
  /* box-shadow: 0px 5px 16px -8px grey; */
}

.fees-table > thead > tr > th,
.fees-table > tbody > tr > td {
  font-size: 12px;
  padding: 10px 9px;
  color: dimgray;
}

.fees-table > tbody > tr > td > a > i{
  margin-left: 5px;
  font-size: 11px;
}
.fees-table > tbody > tr > td > a > i.fa-eye{
  color: dimgray;
}

.paid {
  display: inline-block;
  width: auto;
  color: white;
  border-radius: 20px;
  padding: 3px 8px 2px 10px;
  background-image: linear-gradient(to right, #3d8b40 , #6ec071);
  font-size: 10px;
}
.notPaid {
  display: inline-block;
  width: auto;
  color: white;
  border-radius: 20px;
  padding: 3px 8px 2px 10px;
  background-image: linear-gradient(to right, #b9351d , #e36048);
  font-size: 10px;
}

footer {
  background-color: #eee!important;
  padding: 15px 25px;
  position: fixed;
  width: 100%;
  bottom: 0;
}
footer > p {
  margin-bottom: 0px;
  font-size: 13px;
  color: dimgray;
  letter-spacing: 1px;
}


/* Fees Demand Table Css */
.sh-container {
  padding : 15px;
}
.sh-container > p.p {
  font-size: 20px;
  color: dimgray;
}
.sh-container .card-header {
  padding: 0px;
}
.sh-container .card-header  button {
  width: 100%;
  text-align: left;
  text-decoration: none;
}
.sh-container .card {
  margin-bottom: 20px;
}
.sh-container .card .card-body > button {
  font-size: 13px;
  margin-right: 10px;
  padding: 4px 15px;
}
.fees-demand-table thead{
  background: #13a774;
  color: white;
  font-size: 13px;
  text-align: center;
}
.fees-demand-table tbody{
  font-size: 13px;
  text-align: center;
}
.amount {
  background-color: #a6d1ff;
  color: #0079fb;
  font-weight: bold;
}
.to-be-paid {
  background-color: #fff3cf;
  color: #e0a800;
  font-weight: bold;
}
.paid-amount {
  background-color: #baeec5;
  color: #218838;
  font-weight: bold;
}
.cancelled {
  background-color: #f9dfe2;
  color: #c82333;
  font-weight: bold;
}
.fees-view > a {
  color: dodgerblue !important;
}


/* Transations Details Css */
.transc-wrapper {
  background-color: whitesmoke;
  padding: 15px 25px;
}
.transc-wrapper > div {
  background-color: white;
  margin-top: 15px;
}
.sec1 {
  display: grid;
  grid-template-columns: 3fr 5fr;
  grid-column-gap: 15px;
  background-color: transparent ! important;
}
.sec1 > div {
  background-color: white;
  padding: 15px 10px;
  border: 1px solid #eee;
  border-radius: 4px;
  box-shadow: 0px 2px 15px -8px grey;
}
.prog {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.prog > div {
  flex-grow: 1;
}
.prog > div > span {
  font-size: 12px;
  color: dimgray;
}
.prog > i {
  margin-right: 10px;
  margin-bottom: -10px;
}
.prog > p {
  margin-bottom: -15px;
  margin-left: 10px;
  font-size: 10px;
  color: dimgray;
}
.sec2 {
  background-color: white;
  padding: 15px 10px;
  border: 1px solid #eee;
  border-radius: 4px;
  box-shadow: 0px 2px 15px -8px grey;
}
.ssec2 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.ssec2 > div {
  text-align: center;
  border-right: 1px solid silver;
  font-size: 13px;
}
.ssec2 > div > i {
  margin-bottom: 7px;
  margin-right: 5px;
}
.ssec2 > div:last-of-type {
  border-right: none;
}
.m-b-5 {
  margin-bottom: 5px;
}
.sec3 {
  padding: 15px 10px;
  border: 1px solid #eee;
  border-radius: 4px;
  box-shadow: 0px 2px 15px -8px grey;
}
.sec4 {
  display: grid;
  grid-template-columns: 5fr 2fr;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  background-color: transparent ! important;
  overflow-y: auto;
}
.sec4 > div {
  padding: 15px 10px;
  background-color: white;
  border: 1px solid #eee;
  border-radius: 4px;
  box-shadow: 0px 2px 15px -8px grey;
}
.ssec4-users {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding-bottom: 5px;
  margin: 7px 0px;
}
.ssec4-users > div:nth-of-type(1) {
  width: 45px;
}
.ssec4-users > div:nth-of-type(1) > img {
  border-radius: 50%;
}
.ssec4-users > div:nth-of-type(2) {
  margin-left: 10px;
}
.ssec4-users > div:nth-of-type(2) > h4 {
  font-size: 13px;
  margin-bottom: 0px;
}
.ssec4-users > div:nth-of-type(2) > p {
  margin-bottom: 0px;
  font-size: 11px;
}
